.input {
  padding: 0.7rem 1.2rem;
  width: 100%;

  font-size: var(--font-md);

  color: var(--color-black);
  border: none;
  border-radius: 0.7rem;
  background-color: var(--color-grey);
}

.input:focus {
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--color-grey-dark);
}
